@font-face {
  font-family: 'tenaris-roman';
  src: url("../fonts/tenaris.eot?#iefix") format("embedded-opentype"), url("../fonts/tenaris.otf") format("opentype"), url("../fonts/tenaris.woff") format("woff"), url("../fonts/tenaris.ttf") format("truetype"), url("../fonts/tenaris.svg#UniversLTStd") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tenaris-uc';
  src: url("../fonts/tenaris-uc.eot?#iefix") format("embedded-opentype"), url("../fonts/tenaris-uc.otf") format("opentype"), url("../fonts/tenaris-uc.woff") format("woff"), url("../fonts/tenaris-uc.ttf") format("truetype"), url("../fonts/tenaris-uc.svg#UniversLTStd") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-mrup5t");
  src: url("../fonts/icomoon.eot?#iefix-mrup5t") format("embedded-opentype"), url("../fonts/icomoon.ttf?-mrup5t") format("truetype"), url("../fonts/icomoon.woff?-mrup5t") format("woff"), url("../fonts/icomoon.svg?-mrup5t#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-campaing:before {
  content: "\e610";
}

.icon-page-campaign:before {
  content: "\e608";
}

.icon-page-idea:before {
  content: "\e60e";
}

.icon-page-event:before {
  content: "\e60f";
}

.icon-page-notice:before {
  content: "\e611";
}

.icon-page-provider:before {
  content: "\e612";
}

.icon-page-smartphone:before {
  content: "\e613";
}

.icon-page-streaming:before {
  content: "\e614";
}

.icon-page-sure:before {
  content: "\e615";
}

.icon-page-video:before {
  content: "\e616";
}

.icon-event:before {
  content: "\e609";
}

.icon-news:before {
  content: "\e60a";
}

.icon-smartphone:before {
  content: "\e60b";
}

.icon-streaming:before {
  content: "\e60c";
}

.icon-sure:before {
  content: "\e60d";
}

.icon-arrow-left:before {
  content: "\e606";
}

.icon-arrow-right:before {
  content: "\e607";
}

.icon-palette:before {
  content: "\e603";
}

.icon-arrow-down:before {
  content: "\e600";
}

.icon-bulb:before {
  content: "\e601";
}

.icon-open:before {
  content: "\e602";
}

.icon-provider:before {
  content: "\e604";
}

.icon-tenaris:before {
  content: "\e605";
}

.icon-hamburger:before {
  content: "\e026";
}

.icon-check:before {
  content: "\e116";
}

.icon-cross:before {
  content: "\e117";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font: normal 12px/1.5em 'tenaris-roman';
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #222;
}

.page {
  bottom: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  overflow-y: hidden;
}
.page .section {
  position: relative;
  padding: 0 70px 0 0;
  top: 0;
  height: 100vh;
  background: #f9f9f9;
  overflow: hidden;
}
.page .section p {
  margin-bottom: 35px;
}
.page .section:nth-child(2n-1) {
  color: white;
}
.page .section:nth-child(2n-1) .select-two-choices a {
  background: #222;
  opacity: .4;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.page .section:nth-child(2n-1) .select-two-choices a:hover {
  opacity: .2;
}
.page .section:nth-child(2n) {
  color: #222;
}
.page .section:nth-child(2n) .icon-page {
  color: #222;
}
.page .section:nth-child(2n) .select-two-choices a {
  background: #222;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.page .section:nth-child(2n) .select-two-choices a:hover {
  opacity: .8;
}
.page .section .section-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 15px;
  text-align: center;
}
.page.ng-leave {
  z-index: 0;
  -moz-animation: fadeOut 0.2s ease-in-out both;
  -webkit-animation: fadeOut 0.2s ease-in-out both;
  -o-animation: fadeOut 0.2s ease-in-out both;
  animation: fadeOut 0.2s ease-in-out both;
}
.page.ng-enter {
  z-index: 1;
}

h1 {
  font: normal 60px/1em 'tenaris-uc';
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  margin: 25px 0;
}

.icon {
  color: white;
}

.icon-page {
  font-size: 280px;
  color: white;
}

.next-section {
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  font-size: 36px;
  -moz-animation: nextPage 1s ease-in-out infinite;
  -webkit-animation: nextPage 1s ease-in-out infinite;
  -o-animation: nextPage 1s ease-in-out infinite;
  animation: nextPage 1s ease-in-out infinite;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.select-two-choices {
  overflow: hidden;
}
.select-two-choices a {
  position: relative;
  display: block;
  float: left;
  padding: 15px;
  text-decoration: none;
  color: white;
  width: 45%;
  font-size: 12px;
}
.select-two-choices .or {
  float: left;
  width: 10%;
  text-align: center;
  line-height: 4em;
}
.select-two-choices .icon {
  font-size: 24px;
}
.select-two-choices .two-choice-left .icon {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 10px;
}
.select-two-choices .two-choice-right .icon {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 10px;
}

.example-images {
  margin: 0 auto;
  text-align: center;
}
.example-images img {
  display: inline-block;
  margin: 0 5px;
  max-height: 400px;
  max-width: 40%;
}

.content-text {
  margin: 0 auto;
  max-width: 590px;
  text-align: center;
}

.content-menu {
  margin: 0 auto;
  text-align: center;
}
.content-menu ul li {
  display: inline-block;
  padding: 15px 15px 0;
}
.content-menu ul li a {
  display: block;
  color: #222;
  opacity: .6;
  font-size: 14px;
  text-decoration: none;
  -moz-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.content-menu ul li a:hover {
  color: white;
  opacity: 1;
}
.content-menu ul li a span {
  font-size: 130px;
}

video {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}

@-moz-keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-o-keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@-o-keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@-moz-keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-o-keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}
@-o-keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}
@keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes nextPage {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
@-webkit-keyframes nextPage {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
@-o-keyframes nextPage {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
@keyframes nextPage {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 10px;
  }
}
.header {
  background: white;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header .logo {
  width: 90px;
}
.header .app-title {
  display: inline-block;
  color: #d3d3d3;
  font-size: 18px;
  vertical-align: top;
  padding-top: 10px;
  margin-left: 15px;
  border-left: 2px solid #d3d3d3;
  padding-left: 15px;
}

.menu {
  position: fixed;
  z-index: 11;
  height: 100%;
  width: 68px;
  right: 0;
  top: 0;
  color: white;
  background: #222;
  overflow: hidden;
  -moz-transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  text-align: left;
}
.menu.opened {
  width: 225px;
}
.menu .menu-open, .menu .menu-close {
  cursor: pointer;
}
.menu .menu-open {
  display: block;
  color: white;
  font-size: 28px;
  position: absolute;
  top: 15px;
  right: 20px;
  text-decoration: none;
}
.menu .menu-close {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 15px;
  right: 20px;
  text-decoration: none;
  display: none;
}
.menu .menu-site {
  display: none;
  margin: 20px 0 0 20px;
  font-size: 12px;
}
.menu .menu-site h2 {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.menu .menu-site a {
  color: white;
  text-decoration: none;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.menu .menu-site a:hover {
  opacity: .5;
}
.menu .menu-site .download {
  color: #7fbc1e;
}
.menu .menu-site .download .icon {
  color: #7fbc1e;
}
.menu .menu-site .icon {
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
}
.menu .menu-site ul li {
  line-height: 2.5em;
}
.menu .menu-site .menu-head-list {
  margin-top: 25px;
  width: 225px;
}
.menu .menu-site .menu-foot-list {
  position: absolute;
  background: #333;
  margin-top: 25px;
  width: 225px;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.menu-marker {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.menu-marker .marker-list .marker-items {
  position: relative;
  z-index: 12;
  margin: 30px auto 0;
  height: 10px;
  width: 10px;
  border: 1px solid white;
  background: #222;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.menu-marker .marker-list .marker-items:first-child {
  margin-top: 0;
}
.menu-marker .marker-list .marker-items:hover:before, .menu-marker .marker-list .marker-items.selected:before {
  position: absolute;
  display: block;
  content: "";
  background: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 13;
}
.menu-marker .marker-list .marker-items.selected {
  cursor: initial;
}
.menu-marker .marker-line {
  position: absolute;
  margin-left: -1px;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  background: white;
  z-index: 11;
}

.main .section:nth-child(2n-1) {
  background: #ff9900;
}
.main.ng-enter {
  z-index: 1;
  -moz-animation: fadeIn 0.5s ease-in-out both;
  -webkit-animation: fadeIn 0.5s ease-in-out both;
  -o-animation: fadeIn 0.5s ease-in-out both;
  animation: fadeIn 0.5s ease-in-out both;
}

.provider .section:nth-child(2n-1) {
  background: #0099cc;
}
.provider.ng-enter {
  z-index: 1;
  -moz-animation: slideInLeft 0.5s ease-in-out both;
  -webkit-animation: slideInLeft 0.5s ease-in-out both;
  -o-animation: slideInLeft 0.5s ease-in-out both;
  animation: slideInLeft 0.5s ease-in-out both;
}

.choice-video .section:nth-child(2n-1) {
  background: #ff3333;
}
.choice-video.ng-enter {
  z-index: 1;
  -moz-animation: slideInRight 0.5s ease-in-out both;
  -webkit-animation: slideInRight 0.5s ease-in-out both;
  -o-animation: slideInRight 0.5s ease-in-out both;
  animation: slideInRight 0.5s ease-in-out both;
}

.news .section:nth-child(2n-1) {
  background: #663399;
}
.news.ng-enter {
  z-index: 1;
  -moz-animation: slideInLeft 0.5s ease-in-out both;
  -webkit-animation: slideInLeft 0.5s ease-in-out both;
  -o-animation: slideInLeft 0.5s ease-in-out both;
  animation: slideInLeft 0.5s ease-in-out both;
}

.logo-use.ng-enter,
.color-pallete.ng-enter {
  z-index: 1;
  -moz-animation: fadeIn 0.5s ease-in-out both;
  -webkit-animation: fadeIn 0.5s ease-in-out both;
  -o-animation: fadeIn 0.5s ease-in-out both;
  animation: fadeIn 0.5s ease-in-out both;
}
.logo-use .section,
.color-pallete .section {
  background-color: #fff;
}
.logo-use .section .section-content,
.color-pallete .section .section-content {
  max-height: 566px;
}
.logo-use .slider-wrapper,
.color-pallete .slider-wrapper {
  width: 910px;
  margin: 0 auto;
  min-height: 524px;
  position: relative;
}
.logo-use .slide,
.color-pallete .slide {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  max-width: 910px;
  max-height: 524px;
  -moz-transition: left 0.8s ease;
  -webkit-transition: left 0.8s ease;
  transition: left 0.8s ease;
}
.logo-use .slide#logouse-1,
.color-pallete .slide#logouse-1 {
  left: -200%;
}
.logo-use .slide#logouse-1.active,
.color-pallete .slide#logouse-1.active {
  left: 0;
}
.logo-use .slide#logouse-2,
.color-pallete .slide#logouse-2 {
  position: absolute;
  left: 200%;
}
.logo-use .slide#logouse-2.active,
.color-pallete .slide#logouse-2.active {
  left: 0;
}
.logo-use .slide h3,
.color-pallete .slide h3 {
  font-size: 24.5px;
  color: #4ec6ab;
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 26px;
  text-align: left;
}
.logo-use .slide h3 span,
.color-pallete .slide h3 span {
  color: #0d7863;
}
.logo-use .slide .clearfix,
.color-pallete .slide .clearfix {
  z-index: 1;
}
.logo-use .slide .clearfix:before, .logo-use .slide .clearfix:after,
.color-pallete .slide .clearfix:before,
.color-pallete .slide .clearfix:after {
  content: " ";
  display: table;
}
.logo-use .slide .clearfix:after,
.color-pallete .slide .clearfix:after {
  clear: both;
}
.logo-use .slide .clearfix .pull-left,
.color-pallete .slide .clearfix .pull-left {
  width: 220px;
  margin-right: 16px;
  float: left;
}
.logo-use .slide .clearfix .pull-left > span.green,
.color-pallete .slide .clearfix .pull-left > span.green {
  color: #0d7863;
  font-weight: bold;
  text-align: left;
  display: block;
}
.logo-use .slide .clearfix .pull-left p,
.logo-use .slide .clearfix .pull-left ul li,
.color-pallete .slide .clearfix .pull-left p,
.color-pallete .slide .clearfix .pull-left ul li {
  font-size: 12px;
  line-height: 20px;
  color: #3d3d3d;
  text-align: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 10px;
}
.logo-use .slide .clearfix .pull-left p.download strong,
.logo-use .slide .clearfix .pull-left ul li.download strong,
.color-pallete .slide .clearfix .pull-left p.download strong,
.color-pallete .slide .clearfix .pull-left ul li.download strong {
  font-weight: bold;
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 10px;
}
.logo-use .slide .clearfix .pull-left p.download a,
.logo-use .slide .clearfix .pull-left ul li.download a,
.color-pallete .slide .clearfix .pull-left p.download a,
.color-pallete .slide .clearfix .pull-left ul li.download a {
  text-decoration: none;
}
.logo-use .slide .clearfix .pull-right,
.color-pallete .slide .clearfix .pull-right {
  width: 655px;
  margin-left: 16px;
  float: left;
}
.logo-use .slide hr,
.color-pallete .slide hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
.logo-use .slider-controls,
.color-pallete .slider-controls {
  margin: 20px 0;
  margin: 20px 0;
  z-index: 3;
  position: relative;
}
.logo-use .slider-controls .slider-control,
.color-pallete .slider-controls .slider-control {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: #C5C5C5;
  color: #0088cc;
  border-radius: 50%;
  margin-left: 5px;
}
.logo-use .slider-controls .slider-control:hover, .logo-use .slider-controls .slider-control.active,
.color-pallete .slider-controls .slider-control:hover,
.color-pallete .slider-controls .slider-control.active {
  background: #1E579A;
}

.event .section:nth-child(2n-1) {
  background: #663399;
}
.event.ng-enter {
  z-index: 1;
  -moz-animation: slideInRight 0.5s ease-in-out both;
  -webkit-animation: slideInRight 0.5s ease-in-out both;
  -o-animation: slideInRight 0.5s ease-in-out both;
  animation: slideInRight 0.5s ease-in-out both;
}

.campaign .section:nth-child(2n-1) {
  background: #663399;
}
.campaign.ng-enter {
  z-index: 1;
  -moz-animation: slideInLeft 0.5s ease-in-out both;
  -webkit-animation: slideInLeft 0.5s ease-in-out both;
  -o-animation: slideInLeft 0.5s ease-in-out both;
  animation: slideInLeft 0.5s ease-in-out both;
}

.smartphone .section:nth-child(2n-1) {
  background: #00cccc;
}
.smartphone.ng-enter {
  z-index: 1;
  -moz-animation: slideInRight 0.5s ease-in-out both;
  -webkit-animation: slideInRight 0.5s ease-in-out both;
  -o-animation: slideInRight 0.5s ease-in-out both;
  animation: slideInRight 0.5s ease-in-out both;
}

.sure .section:nth-child(2n-1) {
  background: #99cc00;
}
.sure.ng-enter {
  z-index: 1;
  -moz-animation: slideInLeft 0.5s ease-in-out both;
  -webkit-animation: slideInLeft 0.5s ease-in-out both;
  -o-animation: slideInLeft 0.5s ease-in-out both;
  animation: slideInLeft 0.5s ease-in-out both;
}

.streaming .section:nth-child(2n-1) {
  background: #663399;
}
.streaming.ng-enter {
  z-index: 1;
  -moz-animation: slideInRight 0.5s ease-in-out both;
  -webkit-animation: slideInRight 0.5s ease-in-out both;
  -o-animation: slideInRight 0.5s ease-in-out both;
  animation: slideInRight 0.5s ease-in-out both;
}
