// General
$font-color: #222;
$animate-time: .3s ease-in-out;
$animate-page-time: .5s ease-in-out;

// Menu
$dark-menu-color: #222;
$light-menu-color: #333;
$highlight-menu-color: #7fbc1e;

// Pages color
$light-bg-page: #f9f9f9;
$ideas-color: #ff9900;
$provider-color: #0099cc;
$choice-video-color: #ff3333;
$sure-color: #99cc00;
$smartphone-color: #00cccc;
$type-videos-color: #663399;
$landing-color: #f9f9f9;