$font-color: #444;

$light-bg-page: #f9f9f9;

$dark-menu-color: #222;
$light-menu-color: #333;
$highlight-menu-color: #7fbc1e;

$ideas-color: #ed6d3f;
$provider-color: #4198f1;
$choice-video-color: #f141b1;

$animate-time: .3s ease-in-out;
$animate-page-time: .5s ease-in-out;

