
	<div class="section s1">
		<div class="section-content">
			<div class="content-text">
				<h1>What is the right type of video for your idea?</h1>
			</div>
			<div class="content-menu">
				<ul class="menu-video">
					<li>
						<a href="#news">
							<span class="icon-page-notice"></span>
							<p>News</p>
						</a>
					</li>
					<li>
						<a href="#campaign">
							<span class="icon-page-campaign"></span>
							<p>Campaign</p>
						</a>
					</li>
					<li>
						<a href="#event">
							<span class="icon-page-event"></span>
							<p>Event</p>
						</a>
					</li>
					<li>
						<a href="#streaming">
							<span class="icon-page-streaming"></span>
							<p>Live Streaming</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>