<div class="section">
    <div class="section-content">
        <div class="slider-wrapper">   
            <div class="slide">
                <h3>Color Palette</h3>
                <div class="clearfix">
                    <div class="pull-left">
                        <p>The primary color palette consists of Tenaris Green, Tenaris Fuchsia, Tenaris Blue, and Tenaris Gray. These colors have been chosen to reflect the global character of the Tenaris brand. Whenever possible, the signature should be reproduced in four colors.</p>
                        <p>Determine the reproduction method and then select from the values shown in the table. The Tenaris colors are equivalent to the PANTONE color values cited on this page, the standards for which may be found in the current edition of the PANTONE Color Formula Guide.</p>
                        <p>For process color printing, refer to the CMYK values shown here. For on-screen applications (web, video, broadcast), refer to the Web Safe RGB values specified. The PANTONE and CMYK values provided can be used on both coated and uncoated paper when printing. Although variances in color will occur, try to match the Tenaris colors as closely as possible.</p>
                    </div>
                    <div class="pull-right">
                        <img src="images/color-pallete/color_palette.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>