
	<div class="section">
		<div class="section-content">
		<span class="icon-page icon-page-event"></span>
			<div class="content-text">
				<h1>Evento</h1>
				<p>Acontecimientos (como discursos o congresos) que merecen ser compartidos en las redes de comunicación de la empresa. Este es el video que vas a hacer?</p>
				<div class="select-two-choices">
					<a class="two-choice-left goto" href="#event"data-name="1">
						<span class="icon icon-arrow-down"></span> SI
					</a>
					<div class="or">ó</div>
					<a class="two-choice-right" href="#choiceVideo">
						NO <span class="icon icon-arrow-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="section-content">
				<h1>Recomendaciones</h1>
				<p>
					DURACIÓN: 1:30' a 3'<br>·<br>
					GRÁFICAS: Ver el manual de marca.<br>·<br>
					CONTENIDO: Mostrar el contexto del evento y cuidar la edición de los discrusos. Utilizar 2 cámaras como mínimo para cubrir todas las acciones.<br>·<br>
					ESPECIFICACIÓN TÉCNICA: Archivos en HD. (.mov o .mp4)
				</p>
			</div>
		</div>
		<span class="icon-arrow-down goto next-section" data-name="2"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Ejemplo</h1>
			</div>
			<video  class="tenarisBay" src="../video/TenarisBayCityConstruction.mp4" controls preload="none" poster="../video/posters/TenarisBayCityConstruction.png">
				  Tu navegador no soporta el tag video.
			</video>
		</div>
	</div>