<div class="section">
    <div class="section-content">
        <div class="slider-wrapper">   
            <div class="slide active" id="logouse-1">
                <h3>Logo Use / <span>General Specifications</span></h3>
                <div class="clearfix">
                    <div class="pull-left">
                        <p>The Tenaris logo is made up of two elements, the Multibar symbol and the Tenaris wordmark.</p>
                        <p>The logo is a unique piece of artwork and the proportion and arrangement of the Multibar and wordmark have been specifically determined.</p>
                        <p>It should never be typeset, recreated or altered. Any change will cause inconsistencies, ultimately diluting the impact of the brand's power. To maintain consistency, use only approved digital art files. The preferred configuration of the logo is shown here; use it whenever possible.</p>
                        <p>In all color versions of the signature, the wordmark appears in Tenaris Gray, and the Multibar is made up of Tenaris Green, Fuchsia and Blue.</p>
                        <p class="download">
                            <strong>Download:</strong>
                            <a href="/images/downloads/Tenaris_logo_esp.psd?v=1377270825">
                                <img src="/images/logo-use/psd.png">
                            </a>
                            <a href="/images/downloads/Tenaris_logo_esp.ai?v=1377270810">
                                <img src="/images/logo-use/ai.png">
                            </a>
                            
                            <a href="/images/downloads/Tenaris_logo_esp.png?v=1377270819" target="_blank">
                                <img src="/images/logo-use/png.png">
                            </a>
                        </p>
                    </div>
                    <div class="pull-right">
                        <img src="/images/logo-use/logo_use_1.png">
                    </div>
                </div>
            </div><!--/ .slide -->
            
            <div class="slide" id="logouse-2">
                <h3>Logo Use / <span>Multibar</span></h3>
                <div class="clearfix">
                    <div class="pull-left">
                        <span class="green">
                            <strong>Correct use</strong>
                        </span>
                        <p>When using the Tenaris logo within social media applications, it should act as the “face” of Tenaris.&nbsp;This is accomplished by placing the logo within the profile image area placing it on our blue, green, purple or white background.</p>
                    </div>
                    <div class="pull-right">
                        <img src="/images/logo-use/logo_use_2.png">
                    </div>
                </div>
                <hr class="divider">
                <div class="clearfix">
                    <div class="pull-left">
                        <span class="green">
                            <strong>Incorrect use</strong>
                        </span>
                        <ul>
                            <li><span class="green">»</span> Do not place the logo as part of a background image where it may be cropped by overlying content.</li>
                            <li><span class="green">»</span> Do not unnecessarily duplicate the presentation of the logo.</li>
                            <li><span class="green">»</span> Do not distort the logo.</li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <img src="/images/logo-use/logo_use_3.png">
                    </div>
                </div>
            </div>
        </div><!--/ .slider -->

        <div class="slider-controls centered">
            <a href="#logouse-1" title="General Specifications" class="slider-control first"></a>
            <a href="#logouse-2" title="Multibar" class="slider-control second"></a>
        </div>
    </div>
</div>