<div class="section" id="section-1">
	<div class="section-content-center">
		<img src="images/ideas-icon.png" alt="Ideas">
		<h1>Tenés una idea para producir<br>un video?</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non posuere felis, scelerisque accumsan lorem. </p>
	</div>
	<span class="icon icon-arrow-down goto next-section" data-name="section-2"></span>
</div>
<div class="section" id="section-2">
	<div class="section-content-center">
		<img src="images/que-video-icon.png" alt="Ideas">
		<h1>Sabes que tipo de video querés hacer?</h1>
		<div class="select-two-choices">
			<a class="two-choice-left" href="#provider">
				<span class="icon icon-arrow-left"></span> SI
			</a>
			<div class="or">ó</div>
			<a class="two-choice-right" href="#choiceVideo">
				NO <span class="icon icon-arrow-right"></span>
			</a>
		</div>
	</div>
</div>

