
	<div class="section">
		<div class="section-content">
			<span class="icon-page icon-page-notice"></span>
			<div class="content-text">
				<h1>News</h1>
				<p>Significant day-to-day events at the company (i.e.: plant openings, anniversaries, safety campaigns).  Is this the kind of video you will make?</p>
				<div class="select-two-choices">
					<a class="two-choice-left goto" href="#news" data-name="1">
						<span class="icon icon-arrow-down"></span> YES
					</a>
					<div class="or">or</div>
					<a class="two-choice-right" href="#choiceVideo">
						NO <span class="icon icon-arrow-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Recommendations</h1>
				<p>
					LENGTH: 1' - 3'<br>·<br>
					GRAPHICS: See brand manual.<br>·<br>
					MUSIC: It should not interfere with the dialogues (well recorded and articulated voice).<br>·<br>
					BRAND: Comply with the company’s image (be careful of what is shown on screen).<br>·<br>
					TECHNICAL SPECIFICATION: HD files (.mov or .mp4).
				</p>
			</div>
		</div>
		<span class="icon-arrow-down goto next-section" data-name="2"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Watch an example</h1>
			</div>
			<video  class="tenarisBay" src="video/TenarisBayCity.mp4" controls preload="none" poster="video/posters/TenarisBayCity.png">
				  Your browser does not support video tag.
			</video>
		</div>
	</div>