
	<div class="section">
		<div class="section-content">
			<span class="icon-page icon-page-notice"></span>
			<div class="content-text">
				<h1>Noticia</h1>
				<p>Acontecimientos destacables del día a día de la empresa (Ej: Inaguraciones de plantas, aniversarios, campañas de seguridad).  Este es el video que vas a hacer?</p>
				<div class="select-two-choices">
					<a class="two-choice-left goto" href="#news" data-name="1">
						<span class="icon icon-arrow-down"></span> SI
					</a>
					<div class="or">ó</div>
					<a class="two-choice-right" href="#choiceVideo">
						NO <span class="icon icon-arrow-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Recomendaciones</h1>
				<p>
					DURACIÓN: 1' a 3'<br>·<br>
					GRÁFICAS: Ver el manual de marca.<br>·<br>
					MUSICA: No dejar que tape los diálogos. (Voz bien grabada y articulada)<br>·<br>
					BRAND: Respetar la imagen de la empresa. (Cuidar lo que se muestra en imagen)<br>·<br>
					ESPECIFICACIÓN TÉCNICA: Archivos en HD. (.mov o .mp4)
				</p>
			</div>
		</div>
		<span class="icon-arrow-down goto next-section" data-name="2"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Ejemplo</h1>
			</div>
			<video  class="tenarisBay" src="../video/TenarisBayCity.mp4" controls preload="none" poster="../video/posters/TenarisBayCity.png">
				  Tu navegador no soporta el tag video.
			</video>
		</div>
	</div>