
	<div class="section">
		<div class="section-content-center">
			<h1>Necesitas un proveedor?</h1>
			<p>Algunos videos necesitan la colaboración de un proveedor, otros se pueden realizar con herramientas a nuestro alcance.</p>
			<div class="select-two-choices">
				<a class="two-choice-left" href="#provider">
					<span class="icon icon-arrow-left"></span> SI
				</a>
				<div class="or">ó</div>
				<a class="two-choice-right" href="#choiceVideo">
					NO <span class="icon icon-arrow-right"></span>
				</a>
			</div>
		</div>
	</div>
	
