
	<div class="section">
		<div class="section-content">
			<span class="icon-page icon-page-smartphone"></span>
			<div class="content-text">
				<h1>Filmar con smartphone</h1>
				<p>Algunos teléfonos tienen la capacidad de filmar en alta definición y hay aplicaciones que permiten la edición de video de manera movil o contar una noticia con streaming en vivo.</p>
			</div>
		</div>
		<span class="icon icon-arrow-down goto next-section" data-name="1"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Recomendaciones</h1>
				<p>
					Evitar movimientos bruscos de cámara.<br>
					· <br>
					Mover la cámara usando todo el cuerpo, no solo las manos.<br>· <br>
					Decidir inicialmente si el video se filmará vertical u horizontalmente.<br>· <br>
					Solo grabar los diálogos si el sujeto se encuentra cerca de la cámara y si el ambiente permite un registro claro o utilizar un adaptador para conectar el micrófono corbatero.<br>
				</p>
			</div>
		</div>
		<span class="icon-arrow-down goto next-section" data-name="2"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Ejemplo</h1>
			</div>
			<div class="example-images">
				<img src="../images/smartphone/smart-1.jpg" alt="Video">
				<img src="../images/smartphone/smart-1.jpg" alt="Video">
			</div>
		</div>
		<span class="icon icon-arrow-down goto next-section" data-name="3"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Aplicaciones</h1>
				<p>
				VIDEOSHOP (Edición de un video en Smartphone)<br>· <br>
				PERISCOPE (Streaming en vivo)<br>
			</div>
		</div>
	</div>