
	<div class="section">
		<div class="section-content">
			<span class="icon-page icon-page-smartphone"></span>
			<div class="content-text">
				<h1>Filming with a smartphone</h1>
				<p>Some cellphones are capable of filming HD videos, and there are applications that allow you to edit the video on the go or share news through live streaming.</p>
			</div>
		</div>
		<span class="icon icon-arrow-down goto next-section" data-name="1"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Recommendations</h1>
				<p>
					Avoid sudden camera movements.<br>
					· <br>
					Move the camera using your whole body, not only your hands.<br>· <br>
					Decide if the video will be recorded vertically or horizontally beforehand.<br>· <br>
					Record dialogue only if the subject is close to the camera and the environment allows for a clear audio capture, or use an adapter to connect a lapel microphone.<br>
				</p>
			</div>
		</div>
		<span class="icon-arrow-down goto next-section" data-name="2"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Example</h1>
			</div>
			<video  class="tenarisBay" src="video/Viaje.mp4" controls preload="none" poster="video/posters/Viaje.png">
				  Your browser does not support video tag.
			</video>
		</div>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Applications</h1>
				<p>
				<a href="http://videoshop.net/" target="_blank">VIDEOSHOP</a> (video editing for smartphones)<br>· <br>
				<a href="https://www.periscope.tv/" target="_blank">PERISCOPE</a> (live streaming)<br>
			</div>
		</div>
	</div>