
	<div class="section">
		<div class="section-content">
			<span class="icon-page icon-page-sure"></span>
			<div class="content-text">
				<h1>Are you sure?</h1>
				<p>Keep in mind that suppliers are needed for videos at a much bigger scale, with needs that exceed the tools we have available.</p>
			</div>
		</div>
		<span class="icon icon-arrow-down goto next-section" data-name="1"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Conduct a tender</h1>
				<p>Keeping the budget of the project in mind, conduct a tender with 3 suppliers qualified for the job.</p>
			</div>
		</div>
		<span class="icon-arrow-down goto next-section" data-name="2"></span>
	</div>
	<div class="section">
		<div class="section-content">
			<div class="content-text">
				<h1>Follow up</h1>
				<p>Follow up with the supplier on the project's progress and verify compliance with both the brand manual and your own requirements.</p>
			</div>
		</div>
	</div>
	