
	<div class="section">
		<div class="section-content-center">
			<h1>Estas seguro?</h1>
			<p>Tené en cuenta que los proveedores son necesarios para videos de mayor envergadura, con necesidades que exceden las herramientas a nuestro alcance.</p>
		</div>
	</div>
	<div class="section">
		<div class="section-content-center">
			<h1>Realizar licitación</h1>
			<p>Todo teniendo en cuenta el budget para el proyecto, realizar una licitación a tres proveedores capacitados para el trabajo.</p>
		</div>
	</div>
	<div class="section">
		<div class="section-content-center">
			<h1>Seguimiento</h1>
			<p>Hacer un seguimiento del progreso del proyecto con el proveedor y controlar el cumplimiento de las exigencias propias y del manual de marcas</p>
		</div>
	</div>
	