html, body {
	font: normal 12px/1.5em 'tenaris-roman';
	width: 100%;
	overflow-x: hidden;
}

.page {
	bottom:0; 
	padding-top:200px;
	position:absolute; 
	text-align:center;
	top:0;  
	width:100%; 

	&.ng-leave { 
		z-index:10; 
		-webkit-animation:slideOutLeft 0.5s both ease-in-out;
		-moz-animation:slideOutLeft 0.5s both ease-in-out;
		animation:slideOutLeft 0.5s both ease-in-out;
	}
	&.ng-enter {
		z-index:11;
		-webkit-animation:slideInRight 0.5s both ease-in-out;
		-moz-animation:slideInRight 0.5s both ease-in-out;
		animation:slideInRight 0.5s both ease-in-out;  
	}
}

@include keyframes (slideInRight) {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}

@include keyframes (slideOutLeft) {
	to 		{ transform: translateX(-100%); }
}
