.main {
	
	.section {

		&:nth-child(2n-1){
			background: $ideas-color;
		}

		&:nth-child(2n){
			color: $ideas-color;

			.select-two-choices {

				a {
					background: $ideas-color;
				}
			}
		}
	}

	&.ng-enter {
		z-index:1;
		@include animation(fadeIn $animate-page-time both); 
	}
}